#playingField {
	width: 100%;
	height: 500px;
	border: 2px solid #EAEAEA;
	position: relative;
}

#player {
	/*
		X & Y Position des players speichern wir in custom Properties.
		Diese können in JS über getAttribute/setAttribute einfach
		manipuliert und ausgelesen werden.
	*/
	--x: 100;
	--y: 100;
	width: 50px;
	height: 50px;
	background-color: #0facaf;
	position: absolute;
	/*
		Die CSS Funktion calc lässt uns nun custom properties mit
		Maßeinheiten zusammensetzen.
		Durch Multiplikation mit einer Maßeinheit (hier Pixel) erhalten
		wir die akutelle in --x/--y gespeicherte Zahl in der gewünschten dieser Maßeinheit
	*/
	left: calc(var(--x) * 1px);
	top: calc(var(--y) * 1px);
}